<?xml version="1.0" encoding="UTF-8"?>
     <beans xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd "
            xmlns:aop="http://www.springframework.org/schema/aop"
            xmlns:p="http://www.springframework.org/schema/p"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.springframework.org/schema/beans">

           <bean id="car" class="cn.happy.day04.Car">
               <property name="car" value="奥迪"></property>
           </bean>
           <!--byName -->
          <bean id="stu" class="cn.happy.day04.Student" autowire="byName">
              <property name="name" value="成龙"></property>
              <property name="age" value="41"></property>
          </bean>
           <!--byType -->
          <bean id="stu1" class="cn.happy.day04.Student" autowire="byType">
          <property name="name" value="成龙"></property>
           <property name="age" value="41"></property>
          </bean>
</beans>